.frame { 
 background-color: transparent;
 background-image: url(sprite-hostel_aryabhattatransf201c8cefa5df6931d1677444a5371e0.png);
 background-repeat: no-repeat;
 width: 1360px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -2720px 0; } 
.frame-2 { background-position: -4080px 0; } 
.frame-3 { background-position: -5440px 0; } 
.frame-4 { background-position: -6800px 0; } 
.frame-5 { background-position: -8160px 0; } 
.frame-6 { background-position: -9520px 0; } 
.frame-7 { background-position: -10880px 0; } 
.frame-8 { background-position: -12240px 0; } 
.frame-9 { background-position: -13600px 0; } 
.frame-10 { background-position: -14960px 0; } 
.frame-11 { background-position: -16320px 0; } 
.frame-12 { background-position: -17680px 0; } 
.frame-13 { background-position: -19040px 0; } 
.frame-14 { background-position: -20400px 0; } 
.frame-15 { background-position: -21760px 0; } 
.frame-16 { background-position: -23120px 0; } 
.frame-17 { background-position: -24480px 0; } 
.frame-18 { background-position: -25840px 0; } 
.frame-19 { background-position: -27200px 0; } 
.frame-20 { background-position: -28560px 0; } 
.frame-21 { background-position: -29920px 0; } 
.frame-22 { background-position: -31280px 0; } 
.frame-23 { background-position: -32640px 0; } 
.frame-24 { background-position: -34000px 0; } 
.frame-25 { background-position: -35360px 0; } 
.frame-26 { background-position: -36720px 0; } 
.frame-27 { background-position: -38080px 0; } 
.frame-28 { background-position: -39440px 0; } 
.frame-29 { background-position: -40800px 0; } 
.frame-30 { background-position: -42160px 0; } 
.frame-31 { background-position: -43520px 0; } 

